<ion-view view-title="Dashboard" class="kennel-bg">
    
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
            <button class="button setting-icon"></button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content>
        <div class="row">
            <div class="col col-20">

            </div>
            <div class="col col-60">
                <div style="position:relative;">
                    <div> hello</div>
                <img src="img/sniff/dog-doorway-shadow-2.png" style="width: 108%; position:absolute; top:34px; right:-5px;" />
                </div>
            </div>
            <div class="col col-20">

            </div>
        </div>
    </ion-content>

    <img src="img/sniff/grass.png" class="grass-pic" />
</ion-view>
