<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- Kennel Tab -->
    <ion-tab icon-off="kennel" icon-on="kennel" href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>


  <!-- Sniff Tab -->
  <ion-tab icon-off="sniff" icon-on="sniff" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Pack Tab -->
  <ion-tab icon-off="pack" icon-on="pack" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <!-- Park Tab -->
  <ion-tab icon-off="park" icon-on="park" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


    <!-- Barking Tab -->
    <ion-tab icon-off="barking" icon-on="barking" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>


</ion-tabs>
